In [9]:
import pandas as pd 
df_country = pd.read_csv('/Users/ghadena/Desktop/Country_raw2.csv')
df_country.head()

,Country Name,Country Code,Series Name,Series Code,2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,Australia,AUS,"Life expectancy at birth, female (years)",SP.DYN.LE00.FE.IN,8.390000e+01,8.400000e+01,8.420000e+01,8.430000e+01,8.430000e+01,8.440000e+01,8.450000e+01,8.460000e+01,8.460000e+01,8.490000e+01,8.500000e+01,8.530000e+01,85.4,85.3,..
1,Australia,AUS,"Life expectancy at birth, male (years)",SP.DYN.LE00.MA.IN,7.930000e+01,7.950000e+01,7.970000e+01,7.990000e+01,8.010000e+01,8.030000e+01,8.040000e+01,8.040000e+01,8.050000e+01,8.070000e+01,8.090000e+01,8.120000e+01,81.3,81.2,..
2,Australia,AUS,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,8.154390e+01,8.169512e+01,8.189512e+01,8.204634e+01,8.214878e+01,8.230000e+01,8.240000e+01,8.244878e+01,8.250000e+01,8.274878e+01,8.290000e+01,8.320000e+01,83.3,83.2,..
3,Australia,AUS,Lifetime risk of maternal death (%),SH.MMR.RISK.ZS,1.122440e-02,1.137473e-02,1.238619e-02,1.222605e-02,1.250873e-02,9.373904e-03,9.120632e-03,9.001508e-03,8.300868e-03,7.698720e-03,8.842366e-03,5.132296e-03,..,..,..
4,Australia,AUS,GDP (current US$),NY.GDP.MKTP.CD,9.287621e+11,1.148890e+12,1.398701e+12,1.547650e+12,1.577302e+12,1.468598e+12,1.351769e+12,1.207581e+12,1.326882e+12,1.429734e+12,1.394671e+12,1.330382e+12,1559033756285.13,1692956646855.7,1723827215334.71

In [11]:
df_country_melted = pd.melt(df_country, 
                    id_vars=['Country Name', 'Country Code', 'Series Name', 'Series Code'],  # Columns to keep
                    var_name='Year',  
                    value_name='Value')

df_country_melted['Year'] = df_country_melted['Year'].str.extract(r'(\d{4})')
df_country_melted.head(20)

,Country Name,Country Code,Series Name,Series Code,Year,Value
0,Australia,AUS,"Life expectancy at birth, female (years)",SP.DYN.LE00.FE.IN,2009,83.9
1,Australia,AUS,"Life expectancy at birth, male (years)",SP.DYN.LE00.MA.IN,2009,79.3
2,Australia,AUS,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2009,81.543902
3,Australia,AUS,Lifetime risk of maternal death (%),SH.MMR.RISK.ZS,2009,0.011224
4,Australia,AUS,GDP (current US$),NY.GDP.MKTP.CD,2009,928762122698.050049
5,Australia,AUS,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2009,1.892574
6,Australia,AUS,GDP per capita (current US$),NY.GDP.PCAP.CD,2009,42816.5674
7,Australia,AUS,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,2009,-0.185773
8,Australia,AUS,Population growth (annual %),SP.POP.GROW,2009,2.060833
9,Australia,AUS,"Population, total",SP.POP.TOTL,2009,21691653.0
10,Austria,AUT,"Life expectancy at birth, female (years)",SP.DYN.LE00.FE.IN,2009,83.2
11,Austria,AUT,"Life expectancy at birth, male (years)",SP.DYN.LE00.MA.IN,2009,77.6
12,Austria,AUT,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2009,80.331707
13,Austria,AUT,Lifetime risk of maternal death (%),SH.MMR.RISK.ZS,2009,0.008322
14,Austria,AUT,GDP (current US$),NY.GDP.MKTP.CD,2009,401758735822.210999
15,Austria,AUT,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2009,-3.764578
16,Austria,AUT,GDP per capita (current US$),NY.GDP.PCAP.CD,2009,48153.32402
17,Austria,AUT,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,2009,-4.01634
18,Austria,AUT,Population growth (annual %),SP.POP.GROW,2009,0.261953
19,Austria,AUT,"Population, total",SP.POP.TOTL,2009,8343323.0

In [13]:
df_country_melted['Value'] = pd.to_numeric(df_country_melted['Value'], errors='coerce')
df_country_pivoted = df_country_melted.pivot_table(index=['Country Name', 'Country Code', 'Year'],  # These remain as rows
                                    columns='Series Name',  # Series Name becomes columns
                                    values='Value',  # Values to fill in the new table
                                    aggfunc='first')  # Use 'first' to handle duplicate entries

# Reset the index to flatten the DataFrame
df_country_pivoted = df_country_pivoted.reset_index()

# Show the first few rows of the pivoted data
print(df_country_pivoted.head())

Series Name Country Name Country Code  Year  GDP (current US$)  \
0              Australia          AUS  2009       9.287621e+11
1              Australia          AUS  2010       1.148890e+12
2              Australia          AUS  2011       1.398701e+12
3              Australia          AUS  2012       1.547650e+12
4              Australia          AUS  2013       1.577302e+12

Series Name  GDP growth (annual %)  GDP per capita (current US$)  \
0                         1.892574                  42816.567400
1                         2.226538                  52147.024194
2                         2.408972                  62609.660716
3                         3.918410                  68078.044228
4                         2.606198                  68198.419345

Series Name  GDP per capita growth (annual %)  \
0                                   -0.185773
1                                    0.648500
2                                    0.995812
3                                    2.119926
4                                    0.855301

Series Name  Life expectancy at birth, female (years)  \
0                                                83.9
1                                                84.0
2                                                84.2
3                                                84.3
4                                                84.3

Series Name  Life expectancy at birth, male (years)  \
0                                              79.3
1                                              79.5
2                                              79.7
3                                              79.9
4                                              80.1

Series Name  Life expectancy at birth, total (years)  \
0                                          81.543902
1                                          81.695122
2                                          81.895122
3                                          82.046341
4                                          82.148780

Series Name  Lifetime risk of maternal death (%)  \
0                                       0.011224
1                                       0.011375
2                                       0.012386
3                                       0.012226
4                                       0.012509

Series Name  Population growth (annual %)  Population, total
0                                2.060833         21691653.0
1                                1.555706         22031750.0
2                                1.389527         22340024.0
3                                1.745820         22733465.0
4                                1.721151         23128129.0

In [15]:
df_country = df_country_pivoted

In [17]:
print(df_country[df_country['Country Name'].str.contains(',')]['Country Name'])

285    Korea, Rep.
286    Korea, Rep.
287    Korea, Rep.
288    Korea, Rep.
289    Korea, Rep.
290    Korea, Rep.
291    Korea, Rep.
292    Korea, Rep.
293    Korea, Rep.
294    Korea, Rep.
295    Korea, Rep.
296    Korea, Rep.
297    Korea, Rep.
298    Korea, Rep.
299    Korea, Rep.
Name: Country Name, dtype: object

In [19]:
df_country['Country Name'] = df_country['Country Name'].replace({"Korea, Rep.": "South Korea"}, regex=True)

In [27]:
df_country.columns.tolist()

['Country Name',
 'Country Code',
 'Year',
 'GDP (current US$)',
 'GDP growth (annual %)',
 'GDP per capita (current US$)',
 'GDP per capita growth (annual %)',
 'Life expectancy at birth, female (years)',
 'Life expectancy at birth, male (years)',
 'Life expectancy at birth, total (years)',
 'Lifetime risk of maternal death (%)',
 'Population growth (annual %)',
 'Population, total']

In [41]:

df_regions.columns.tolist()

['Code',
 'Long Name',
 'Income Group',
 'Region',
 'Lending category',
 'Other groups',
 'Currency Unit',
 'Latest population census',
 'Latest household survey',
 'Special Notes',
 'National accounts base year',
 'National accounts reference year',
 'System of National Accounts',
 'SNA price valuation',
 'PPP survey years',
 'Balance of Payments Manual in use',
 'External debt Reporting status',
 'System of trade',
 'Government Accounting concept',
 'IMF data dissemination standard',
 'Source of most recent Income and expenditure data',
 'Vital registration complete',
 'Latest agricultural census',
 'Latest industrial data',
 'Latest trade data',
 '2-alpha code',
 'WB-2 code',
 'Table Name',
 'Short Name']

In [43]:
df_regions.rename(columns={'Code': 'Country Code'}, inplace=True)

In [45]:
df_country_with_region = df_country.merge(df_regions[['Country Code', 'Region']], on='Country Code', how='left')
df_country_with_region.head()

,Country Name,Country Code,Year,GDP (current US$),GDP growth (annual %),GDP per capita (current US$),GDP per capita growth (annual %),"Life expectancy at birth, female (years)","Life expectancy at birth, male (years)","Life expectancy at birth, total (years)",Lifetime risk of maternal death (%),Population growth (annual %),"Population, total",Region
0,Australia,AUS,2009,9.287621e+11,1.892574,42816.567400,-0.185773,83.9,79.3,81.543902,0.011224,2.060833,21691653.0,East Asia & Pacific
1,Australia,AUS,2010,1.148890e+12,2.226538,52147.024194,0.648500,84.0,79.5,81.695122,0.011375,1.555706,22031750.0,East Asia & Pacific
2,Australia,AUS,2011,1.398701e+12,2.408972,62609.660716,0.995812,84.2,79.7,81.895122,0.012386,1.389527,22340024.0,East Asia & Pacific
3,Australia,AUS,2012,1.547650e+12,3.918410,68078.044228,2.119926,84.3,79.9,82.046341,0.012226,1.745820,22733465.0,East Asia & Pacific
4,Australia,AUS,2013,1.577302e+12,2.606198,68198.419345,0.855301,84.3,80.1,82.148780,0.012509,1.721151,23128129.0,East Asia & Pacific

In [57]:
print(df_country_with_region.columns.tolist())

['Country Name', 'Country Code', 'Year', 'GDP (current US$)', 'GDP growth (annual %)', 'GDP per capita (current US$)', 'GDP per capita growth (annual %)', 'Population growth (annual %)', 'Population, total', 'Region']

In [55]:
df_country_with_region.drop(columns=['Life expectancy at birth, female (years)','Life expectancy at birth, male (years)', 'Life expectancy at birth, total (years)', 'Lifetime risk of maternal death (%)'], inplace=True)

In [59]:
# Define the new column order
new_order = [
    'Country Name',  
    'Country Code',  
    'Region',        
    'Year',          
    'GDP (current US$)',
    'GDP growth (annual %)',
    'GDP per capita (current US$)',
    'GDP per capita growth (annual %)',
    'Population growth (annual %)', 
    'Population, total',
]

df_country_with_region = df_country_with_region[new_order]

df_country_with_region.head()

,Country Name,Country Code,Region,Year,GDP (current US$),GDP growth (annual %),GDP per capita (current US$),GDP per capita growth (annual %),Population growth (annual %),"Population, total"
0,Australia,AUS,East Asia & Pacific,2009,9.287621e+11,1.892574,42816.567400,-0.185773,2.060833,21691653.0
1,Australia,AUS,East Asia & Pacific,2010,1.148890e+12,2.226538,52147.024194,0.648500,1.555706,22031750.0
2,Australia,AUS,East Asia & Pacific,2011,1.398701e+12,2.408972,62609.660716,0.995812,1.389527,22340024.0
3,Australia,AUS,East Asia & Pacific,2012,1.547650e+12,3.918410,68078.044228,2.119926,1.745820,22733465.0
4,Australia,AUS,East Asia & Pacific,2013,1.577302e+12,2.606198,68198.419345,0.855301,1.721151,23128129.0

In [67]:
df_country = df_country_with_region
df_country.to_csv('/Users/ghadena/Desktop/country_clean2.csv')

In [137]:
df_spending = pd.read_csv('/Users/ghadena/Desktop/health_raw2.csv')
df_spending_melted = pd.melt(df_spending, 
                    id_vars=['Country Name', 'Country Code', 'Series Name', 'Series Code'],  # Columns to keep
                    var_name='Year',  
                    value_name='Value')

df_spending_melted['Year'] = df_spending_melted['Year'].str.extract(r'(\d{4})')
df_spending_melted.head(20)

df_spending_melted['Value'] = pd.to_numeric(df_spending_melted['Value'], errors='coerce')
df_spending_pivoted = df_spending_melted.pivot_table(index=['Country Name', 'Country Code', 'Year'],  # These remain as rows
                                    columns='Series Name',  # Series Name becomes columns
                                    values='Value',  # Values to fill in the new table
                                    aggfunc='first')  # Use 'first' to handle duplicate entries

df_spending_pivoted = df_spending_pivoted.reset_index()


df_spending = df_spending_pivoted

df_country['Country Name'] = df_country['Country Name'].replace({"Korea, Rep.": "South Korea"}, regex=True)

df_regions = pd.read_csv('/Users/ghadena/Desktop/regions_m .csv')
df_regions.rename(columns={'Code': 'Country Code'}, inplace=True)
df_spending_with_region = df_spending.merge(df_regions[['Country Code', 'Region']], on='Country Code', how='left')

In [139]:
df_spending_with_region.columns.tolist()

['Country Name',
 'Country Code',
 'Year',
 'Current health expenditure (% of GDP)',
 'Current health expenditure per capita (current US$)',
 'Domestic general government health expenditure (% of current health expenditure)',
 'Domestic private health expenditure (% of current health expenditure)',
 'External health expenditure (% of current health expenditure)',
 'Out-of-pocket expenditure (% of current health expenditure)',
 'Region']

In [141]:
new_order = ['Country Name',
             'Country Code',
             'Region',
             'Year',
             'Current health expenditure (% of GDP)',
             'Current health expenditure per capita (current US$)',
             'Domestic general government health expenditure (% of current health expenditure)',
             'Domestic private health expenditure (% of current health expenditure)',
             'External health expenditure (% of current health expenditure)',
             'Out-of-pocket expenditure (% of current health expenditure)'
            ]
        
df_spending_with_region = df_spending_with_region[new_order]

df_spending_with_region.head()

,Country Name,Country Code,Region,Year,Current health expenditure (% of GDP),Current health expenditure per capita (current US$),Domestic general government health expenditure (% of current health expenditure),Domestic private health expenditure (% of current health expenditure),External health expenditure (% of current health expenditure),Out-of-pocket expenditure (% of current health expenditure)
0,Australia,AUS,East Asia & Pacific,2009,8.544739,4011.932617,73.010544,26.989460,0.0,19.052843
1,Australia,AUS,East Asia & Pacific,2010,8.420257,4975.470703,72.357277,27.642725,0.0,19.749287
2,Australia,AUS,East Asia & Pacific,2011,8.537450,5909.149902,73.260300,26.739704,0.0,19.172483
3,Australia,AUS,East Asia & Pacific,2012,8.674569,6071.650879,71.234657,28.765345,0.0,19.934340
4,Australia,AUS,East Asia & Pacific,2013,8.750587,5843.173828,67.727989,32.272007,0.0,19.526924

In [143]:
df_spending = df_spending_with_region

In [113]:
df_outcomes = pd.read_csv('/Users/ghadena/Desktop/life_raw2.csv')
df_outcomes.head()

,Country Name,Country Code,Series Name,Series Code,2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,Australia,AUS,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,81.543902,81.695122,81.895122,82.046341,82.148780,82.300000,82.400000,82.448780,82.500000,82.748780,82.900000,83.200000,83.3,83.2,..
1,Australia,AUS,"Life expectancy at birth, female (years)",SP.DYN.LE00.FE.IN,83.900000,84.000000,84.200000,84.300000,84.300000,84.400000,84.500000,84.600000,84.600000,84.900000,85.000000,85.300000,85.4,85.3,..
2,Australia,AUS,"Life expectancy at birth, male (years)",SP.DYN.LE00.MA.IN,79.300000,79.500000,79.700000,79.900000,80.100000,80.300000,80.400000,80.400000,80.500000,80.700000,80.900000,81.200000,81.3,81.2,..
3,Australia,AUS,Lifetime risk of maternal death (%),SH.MMR.RISK.ZS,0.011224,0.011375,0.012386,0.012226,0.012509,0.009374,0.009121,0.009002,0.008301,0.007699,0.008842,0.005132,..,..,..
4,Australia,AUS,"Mortality rate, under-5 (per 1,000 live births)",SH.DYN.MORT,5.000000,4.800000,4.500000,4.300000,4.100000,4.000000,3.900000,3.800000,3.800000,3.800000,3.800000,3.800000,3.8,3.8,..

In [117]:
df_outcomes = pd.read_csv('/Users/ghadena/Desktop/life_raw2.csv')
df_outcomes_melted = pd.melt(df_outcomes, 
                    id_vars=['Country Name', 'Country Code', 'Series Name', 'Series Code'],  # Columns to keep
                    var_name='Year',  
                    value_name='Value')

df_outcomes_melted['Year'] = df_outcomes_melted['Year'].str.extract(r'(\d{4})')
df_outcomes_melted.head(20)

df_outcomes_melted['Value'] = pd.to_numeric(df_outcomes_melted['Value'], errors='coerce')
df_outcomes_pivoted = df_outcomes_melted.pivot_table(index=['Country Name', 'Country Code', 'Year'],  # These remain as rows
                                    columns='Series Name',  # Series Name becomes columns
                                    values='Value',  # Values to fill in the new table
                                    aggfunc='first')  # Use 'first' to handle duplicate entries

df_outcomes_pivoted = df_outcomes_pivoted.reset_index()


df_outcomes = df_outcomes_pivoted

df_country['Country Name'] = df_country['Country Name'].replace({"Korea, Rep.": "South Korea"}, regex=True)

df_regions = pd.read_csv('/Users/ghadena/Desktop/regions_m .csv')
df_regions.rename(columns={'Code': 'Country Code'}, inplace=True)
df_outcomes_with_region = df_outcomes.merge(df_regions[['Country Code', 'Region']], on='Country Code', how='left')
df_outcomes_with_region.head()

,Country Name,Country Code,Year,"Life expectancy at birth, female (years)","Life expectancy at birth, male (years)","Life expectancy at birth, total (years)",Lifetime risk of maternal death (%),"Maternal mortality ratio (modeled estimate, per 100,000 live births)","Mortality rate, under-5 (per 1,000 live births)",Region
0,Australia,AUS,2009,83.9,79.3,81.543902,0.011224,5.0,5.0,East Asia & Pacific
1,Australia,AUS,2010,84.0,79.5,81.695122,0.011375,5.0,4.8,East Asia & Pacific
2,Australia,AUS,2011,84.2,79.7,81.895122,0.012386,6.0,4.5,East Asia & Pacific
3,Australia,AUS,2012,84.3,79.9,82.046341,0.012226,6.0,4.3,East Asia & Pacific
4,Australia,AUS,2013,84.3,80.1,82.148780,0.012509,6.0,4.1,East Asia & Pacific

In [119]:

new_order = ['Country Name',
             'Country Code',
             'Region',
             'Year',
             'Life expectancy at birth, total (years)',
             'Life expectancy at birth, female (years)', 
             'Life expectancy at birth, male (years)', 
             'Lifetime risk of maternal death (%)', 
             'Maternal mortality ratio (modeled estimate, per 100,000 live births)',  
             'Mortality rate, under-5 (per 1,000 live births)', 
            ]
df_outcomes_with_region = df_outcomes_with_region[new_order]

df_outcomes_with_region.head()

,Country Name,Country Code,Region,Year,"Life expectancy at birth, total (years)","Life expectancy at birth, female (years)","Life expectancy at birth, male (years)",Lifetime risk of maternal death (%),"Maternal mortality ratio (modeled estimate, per 100,000 live births)","Mortality rate, under-5 (per 1,000 live births)"
0,Australia,AUS,East Asia & Pacific,2009,81.543902,83.9,79.3,0.011224,5.0,5.0
1,Australia,AUS,East Asia & Pacific,2010,81.695122,84.0,79.5,0.011375,5.0,4.8
2,Australia,AUS,East Asia & Pacific,2011,81.895122,84.2,79.7,0.012386,6.0,4.5
3,Australia,AUS,East Asia & Pacific,2012,82.046341,84.3,79.9,0.012226,6.0,4.3
4,Australia,AUS,East Asia & Pacific,2013,82.148780,84.3,80.1,0.012509,6.0,4.1

In [153]:
df_country.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540 entries, 0 to 539
Data columns (total 10 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country Name                      540 non-null    object
 1   Country Code                      540 non-null    object
 2   Region                            540 non-null    object
 3   Year                              540 non-null    int64
 4   GDP (current US$)                 540 non-null    float64
 5   GDP growth (annual %)             540 non-null    float64
 6   GDP per capita (current US$)      540 non-null    float64
 7   GDP per capita growth (annual %)  540 non-null    float64
 8   Population growth (annual %)      540 non-null    float64
 9   Population, total                 540 non-null    float64
dtypes: float64(6), int64(1), object(3)
memory usage: 42.3+ KB

In [151]:
df_spending.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485 entries, 0 to 484
Data columns (total 10 columns):
 #   Column                                                                            Non-Null Count  Dtype
---  ------                                                                            --------------  -----
 0   Country Name                                                                      485 non-null    object
 1   Country Code                                                                      485 non-null    object
 2   Region                                                                            485 non-null    object
 3   Year                                                                              485 non-null    int64
 4   Current health expenditure (% of GDP)                                             485 non-null    float64
 5   Current health expenditure per capita (current US$)                               485 non-null    float64
 6   Domestic general government health expenditure (% of current health expenditure)  474 non-null    float64
 7   Domestic private health expenditure (% of current health expenditure)             474 non-null    float64
 8   External health expenditure (% of current health expenditure)                     319 non-null    float64
 9   Out-of-pocket expenditure (% of current health expenditure)                       474 non-null    float64
dtypes: float64(6), int64(1), object(3)
memory usage: 38.0+ KB

In [149]:
df_outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 10 columns):
 #   Column                                                                Non-Null Count  Dtype
---  ------                                                                --------------  -----
 0   Country Name                                                          504 non-null    object
 1   Country Code                                                          504 non-null    object
 2   Region                                                                504 non-null    object
 3   Year                                                                  504 non-null    int64
 4   Life expectancy at birth, total (years)                               504 non-null    float64
 5   Life expectancy at birth, female (years)                              504 non-null    float64
 6   Life expectancy at birth, male (years)                                504 non-null    float64
 7   Lifetime risk of maternal death (%)                                   432 non-null    float64
 8   Maternal mortality ratio (modeled estimate, per 100,000 live births)  432 non-null    float64
 9   Mortality rate, under-5 (per 1,000 live births)                       504 non-null    float64
dtypes: float64(6), int64(1), object(3)
memory usage: 39.5+ KB

In [127]:
df_country['Year'] = df_country['Year'].astype(int)

In [147]:
df_outcomes['Year'] = df_outcomes['Year'].astype(int)
df_spending['Year'] = df_spending['Year'].astype(int)

In [203]:
df_outcomes['Year'].unique()

array([2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019,
       2020, 2021, 2022])

In [177]:
df_country.shape

(540, 10)

In [171]:
df_spending.shape

(485, 10)

In [169]:
df_outcomes.shape

(504, 10)

In [183]:
duplicates = df_spending[df_spending.duplicated(subset=['Country Name', 'Year'], keep=False)]
print(duplicates)

Empty DataFrame
Columns: [Country Name, Country Code, Region, Year, Current health expenditure (% of GDP), Current health expenditure per capita (current US$), Domestic general government health expenditure (% of current health expenditure), Domestic private health expenditure (% of current health expenditure), External health expenditure (% of current health expenditure), Out-of-pocket expenditure (% of current health expenditure)]
Index: []

In [185]:
def count_observations_for_year(df, year, table_name):
    observations = df[df['Year'] == year]
    num_observations = observations.shape[0]
    print(f"Number of observations for the year {year} in {table_name}: {num_observations}")

# Example usage for multiple tables
count_observations_for_year(df_country, 2022, 'country')
count_observations_for_year(df_spending, 2022, 'spending')
count_observations_for_year(df_outcomes, 2022, 'country')
# Repeat for each table as needed

Number of observations for the year 2022 in country: 36
Number of observations for the year 2022 in spending: 17
Number of observations for the year 2022 in country: 36

In [191]:
count_observations_for_year(df_country, 2019, 'country')
count_observations_for_year(df_spending, 2019, 'spending')
count_observations_for_year(df_outcomes, 2019, 'country')

Number of observations for the year 2019 in country: 36
Number of observations for the year 2019 in spending: 36
Number of observations for the year 2019 in country: 36

In [195]:
import pandas as pd

# Define the range of years and the expected number of countries
years = range(2009, 2023)
expected_count = 36

# Function to count observations per year in each DataFrame
def count_observations_by_year(df, df_name):
    # Filter for the years in the specified range
    year_counts = df[df['Year'].isin(years)]['Year'].value_counts()
    year_counts = year_counts.reindex(years, fill_value=0)  # Ensure all years are represented, even if count is 0
    return year_counts.rename(df_name)

# Count observations per year for each table
count_country = count_observations_by_year(df_country, 'Country')
count_spending = count_observations_by_year(df_spending, 'Spending')
count_outcomes = count_observations_by_year(df_outcomes, 'Outcomes')

# Combine the counts into a single DataFrame for easy comparison
combined_counts = pd.DataFrame({'Country': count_country, 'Spending': count_spending, 'Outcomes': count_outcomes})

# Filter each column for years with fewer than 36 observations
years_with_fewer_than_36 = combined_counts[(combined_counts < expected_count) & (combined_counts > 0)]

# Display the years with fewer than 36 observations in each table
print("Years with fewer than 36 observations in each table:")
print(years_with_fewer_than_36.dropna(how='all'))  # Drop rows where all values are NaN (no shortages)

Years with fewer than 36 observations in each table:
      Country  Spending  Outcomes
Year
2022      NaN      17.0       NaN

In [199]:
unique_country_years = df_country[['Country Name', 'Year']].drop_duplicates()
print("Unique country-year pairs in df_country:", unique_country_years.shape[0])

Unique country-year pairs in df_country: 540

In [121]:

df_country.to_csv('/Users/ghadena/Desktop/country_clean2.csv')


df_spending.to_csv('/Users/ghadena/Desktop/spending_clean2.csv')


df_outcomes.to_csv('/Users/ghadena/Desktop/outcomes_clean2.csv')